# Dependencies
node_modules/

# Environment files
.env
.env.local
.env.production

# Build
/client/build

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Uploads folder
/server/uploads/*
!/server/uploads/.gitkeepterraform/terraform.tfvars
